extends layout

block content
  link(rel='stylesheet', href='stylesheets/login.css')
  
  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            h2 Password reset
            p Please, check your email account
            a(href='/')
              button.btn.btn-primary Return
          