extends layout

block content
  link(rel='stylesheet', href='stylesheets/login.css')
  
  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            if info && info.message 
              div.alert.alert-danger
                = info.message
            h2 Password reset
            p Please, insert your email and we will send you instructions to reset your password
          form#Login(action='/forgotPassword' method='post')
            .form-group
              input#email.form-control(type='email' placeholder='Email Address' name="email")
            button.btn.btn-primary(type='submit') Reset

          a(href='/')
            button.btn.btn-primary Return