extends layout

block content
  link(rel='stylesheet', href='stylesheets/login.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            if info && info.message 
              div.alert.alert-danger
                = info.message
            h2 Login
            p Please, insert your email and password
          form#Login(action='/login' method='post')
            .form-group
              input#username.form-control(type='email' placeholder='Email Address' name="username")
            .form-group
              input#password.form-control(type='password' placeholder='Password' name="password")
            .forgot
              a(href='/forgotPassword') I forgot my password

            button.btn.btn-primary(type='submit') Login

          a(href='/')
            button.btn.btn-primary Return