extends layout

block content
  link(rel='stylesheet', href='../stylesheets/login.css')

  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            if info && info.message 
              div.alert.alert-danger
                = info.message
            h2 Password change
            p Please, insert your password
          form#Login(action='/resetPassword' method='post')
            input#email(type='hidden' name='email' value= user.email)
            .form-group
              label(for='password') Password: 
              input#password.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
              if errors.password
                  small#passwordHelp.text-danger
                    = errors.password.message  
            .form-group
              label(for='confirmPassword') Confirm password: 
              input#confirmPassword.form-control(type='password' name='confirmPassword' class= errors.confirmPassword ? 'is-invalid' : '')
              if errors.confirmPassword
                  small#confirmPasswordHelp.text-danger
                    = errors.confirmPassword.message  
            
            button.btn.btn-primary(type='submit') Change password
      
          a(href='/')
            button.btn.btn-primary Return
