extends session/layout

block content
    link(rel='stylesheet', href='../stylesheets/login.css')

    body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            if info && info.message 
              div.alert.alert-danger
                = info.message
            h2 Register
          form(action='/register' method='post')
              .form-group
                  label(for='username') Username: 
                  input#username.form-control(type='text' name='username' value= user.username class=errors.username ? 'is-invalid' : '')
                  if errors.username
                      small#usernameHelp.text-danger
                      = errors.username.message
              .form-group
                  label(for='email') Email: 
                  input#email.form-control(type='text' name='email' value= user.email class= errors.email ? 'is-invalid' : '')
                  if errors.email
                      small#emailHelp.text-danger
                      = errors.email.message  
            
              .form-group
                  label(for='pwd') Password: 
                  input#password.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
                  if errors.password
                      small#passwordHelp.text-danger
                      = errors.password.message  
              .form-group
                  label(for='confirm_pwd') Confirm Password: 
                  input#confirmPassword.form-control(type='password' name='confirmPassword' class= errors.confirmPassword ? 'is-invalid' : '')
                  if errors.confirmPassword
                      small#confirmPasswordHelp.text-danger
                      = errors.confirmPassword.message
              input.btn.btn-primary(type='submit' value='OK')
          
          a(href='/')
            button.btn.btn-primary Return