extends layout

block content
  table.table
    thead
      tr
        th(scope='col') Plan
        th(scope='col') Price
        th(scope='col') Time
    tbody
      each plan in plans
        tr
          td= plan.name
          td= plan.price
          td= plan.months + " month(s)"

  a(href='/')
    button.btn.btn-primary Return