extends ../layout

block content
  table.table
    thead
      tr  
        th(scope='col') #
        th(scope='col') Username
        th(scope='col') Email
        th(scope='col') Verified
        th(scope='col')
        th(scope='col')
    tbody
      each user in users
        tr
          td(scope='row') 
            = user.id
          td= user.username
          td= user.email
          td= user.verified ? 'YES' : 'NO'
          td
            a.btn(href= 'users/' + user.id + '/update') Edit
          td
            form.inline(method='post' action='users/' + user.id + '/delete')
                input(type='hidden' name='id' value= user.id)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Delete'
  
  a(href='/')
    button.btn.btn-primary Return

  
