extends ../layout

block content
  a(href='/users') Return
  h1  Update users
  form(action=`/users/${user.id}/update` method='post')
    .form-group
        label(for='username') Username: 
        input#username.form-control(type='text' name='username' value= user.username class=errors.username ? 'is-invalid' : '')
        if errors.username
            small#usernameHelp.text-danger
               = errors.username.message  
    input.btn.btn-primary(type='submit' value='OK')

  a(href='/users')
    button.btn.btn-primary Return
